.features.section {
  padding-bottom: 47px;
}

.features-list {
  display: flex;
  align-items: center;
  margin-left: calc(-1 * var(--card-gap));
}

.features-item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - var(--card-gap));
}

.features-icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--light-theame-color);
  border-radius: 4px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--brand-title-color);
  margin-bottom: 10px;
}

.features-item > p {
  margin-bottom: 10px;
}
